.cardImage img {
    width: 100%;
}

.cardBody {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding-block: .8rem .4rem;
    margin-top: .8rem;
}

a {
    color: var(--zinc-color-02);
}

.cardBody .title {
    font-weight: bold;
    color: var(--zinc-color-01);
    font-synthesis: weight;
    font-size: 1.8rem;
}

.cardBody>div {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
}

.cardBody span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .8rem;
    color: var(--zinc-color-01);
    font-size: 1.4rem;
}

.cardBody div>div {
    display: flex;
    flex-wrap: wrap;
    column-gap: .8rem;
}


.cardBody span.overview {
    line-height: 2rem;
}